#about div.two_col {
    overflow: auto;
    width: 100%;
    vertical-align : middle;
    margin-bottom : 1em;
  
}
#about div.two_col_left {
    float : left;
    display : block;
    width : 5em;
    margin:0px;
    padding:0px;

}

#about div.two_col_right {
    float : left;
    display : block;
    width : 30em;
}
 
#about div.two_col p {
    border : 0px;
    margin : 0px;
    padding : 0px;

}
#about div.two_col img {

  width : 5em;
}