@font-face {
	font-family: Braille;
	src: url('../fonts/LouisLouis.ttf');
}

.braille  {
    white-space: pre; 
    overflow: auto;

    font-family: Braille;
    width : 30em;
    height : 30em;
 /*   font-size : 12pt;*/

    margin-top : 0.5em;
    padding : 0em;


}
.braille p {
    
}
