@font-face {
    font-family : natbraille;
/*    src : url('../fonts/Cabin-Bold.otf');
 */}

body {


}
.comment {
    display : none;
}
body {
    width: 40em ;
    margin-left: auto ;
    margin-right: auto ;
    
}
* {
    padding : 0.1em;
}
div#menubar {
/*
  display:none;
  */
};
select, option{
    border : 0px;
}
select {
    background: url("new_arrow.png") no-repeat right #ddd;
    width : 25em;
}
option{
}
select, button, input, input[type=file]  {
    padding : 0.4em;
    background:  #ddd;
    border : 1px solid white;
    margin : 2px;
    -moz-border-radius : 4px;

}
option:before {
/*    content : url('../images/logo/659px-Université_Lyon_1_(logo).svg.png');*/
}
form div {
    overflow: auto;
    width: 100%;
}
form label {
    padding-top : 0.5em;
    padding-right : 1em;
    text-align : right;
    float : left ;
    display : block;
    width : 10em;
}
form div select {
    width : 10em;
}
form input, form select {
    text-align : left;
    float : left;
    display : block;
}
form input[type=submit] {
    float : right;
    text-align : right;
    margin-right : 5em;

/*    text-align : right;*/

}
/*
  two cols 
  */
div.trans_two_col {
    overflow: auto;
    width: 100%;
    vertical-align : middle;
/*    margin-bottom : 0em;
  */
    margin : 0px;
    padding : 0px;
    border : 0px;
}
div.trans_two_col div.trans_desc {
    float : left;
    display : block;
    width : 25em;
    margin:0px;
    padding:0px;

    margin : 0px;
    padding : 0px;
    border : 0px;

}


div.trans_two_col div.pboutside {
    float : right;

    margin : 0px;
    padding : 0px;
    border : 0px;
    
}


div.trans_two_col h3 {
    padding : 0px;
    margin: 0px;
}/*
  * end two cols
  */
div.trans_two_col h3 {
    padding-top : 0em;
    border-top :0em;
    margin-top : 0em;
    color : #555;
    font-weight :  normal;
}
li.transcription_summary {
    padding : 0px;
    border : 0px;
    margin : 0px;
    padding-bottom : 2.5em;
}

div.trans_two_col {
    margin-bottom : 3em;
}

button:hover {
    box-shadow: 0 0 4px #5a0;
}
