/* .config-template-value input, */
/* .config-template-value select, */
/* .config-template-value button[name=templateOption] */

.config-default-value {
    border-left: 10px solid green;
}

.config-template-value  {
    border-left: 10px solid blue;
}

.config-changed-value {
    border-left : 10px solid yellow;
}

.config_new_option_list span{
    display : block;
}
.categ_not_shown {
    background-color : grey;
}
.categ_not_shown.categ_sub {
    background-color : grey;
}
.categ_shown {
/*    background-color : white;    
*/
}

.categ_group {
/*   border :5px solid #ecc;
*/
}
.categ_sub {
/*
    border :3px solid #efa;
    font-size : 10px;
*/

}
[name=config_new_categs_bar] {
}

[name=config_new_option_list] {

}
[name=config_new_save_bar] {
}

.optionCategFloat {
}
span span .optionCategFloat{
    display : none;
}
span span:hover .optionCategFloat{
    display : block;

}
.optionCategFloat:hover{
    display : block;

}