/*
  http://www.the-art-of-web.com/css/css-animation/
*/
img { 
    -moz-transform: rotate(0deg) scale(1.0); 
    -moz-transition: all 0.5s ease-in-out;
}

img:hover { 
    -moz-transform: rotate(360deg) scale(4.0) ; 
    -moz-transition: all 0.5s ease-in-out;
}

