#transcription_list .detail {
    margin-top : 0.5em;
    margin-bottom : 0.5em;
    overflow: auto;
    height : 15em;
    width : 30em;
    padding : 2em;
    padding-left : 3em;
    padding-right : 3em;
/*    margin : 1em;*/

}
#transcription_list .detail {
    background-color : black;
    color : #0e0;
    font-family : monospace;
    font-size : 10pt;
}

#transcription_list .detail li.INFO {
    color : #0af
}
#transcription_list .detail li.STEP {
    color : orange;
    font-weight : bold;
}
#transcription_list .detail li.SUCCESS {
    color : #0c0;
}
#transcription_list .detail li.ERROR {
    color : red;
}
#transcription_list .detail li.UNRECOVERABLE_ERROR {
    color : #f00;
}