
body {
    width: 60em ;
    margin-left: auto ;
    margin-right: auto ;
}
    x
P.comment:before {
    background-color : red;

    
}
div#tous div {
    background-color: #a1e048;
    background:    -moz-linear-gradient(#a1e048, #6a942f);
}

* {
    border-radius : 5px;
    padding : 0.28em;
    margin : 0.15em;
}
div#tous h2 {
    background-color : white;
}
div#tous div#h3 {
/*    background-color : white; */
}
P.comment  {
    font-style: italic;
    border : 0.5em;
    float : left;
    width : 18em;
    font-size : 90%;
    padding : 0.4em;
    margin : 0.5em;
    background-color : yellow;
}
button {
    border-radius : 5px;
}
ul {
    margin-left : 1em;
}

.selectedUrl {
    
    background-color: #a1e048;
/*    background:    -moz-linear-gradient(#a1e048, #6a942f);*/
    
    
}

.logo {
    height : 2em;
}
#menubar a{

}
ol.detail {
   margin-left : 100px;
 
}
ol.detail li {
    border : 0px;
    padding : 0px;
    margin : 0px;
}
