div#instant_braille {
    border : 1px solid black;
    padding : 1em;
}

body {
    font-family : sans-serif;
    font-size: 0.9em;    
}

/* override jquery ui big 1.1em widgets */
.ui-widget {   
    font-family: sans-serif;
    font-size: 0.9em;    
}
  /* blocks positionning */
    body, header, nav, main, header h1, header p, nav ul, main h2, footer, footer p{
	margin : 0px;
	
    }
@media screen and (min-width:56em){
  
    header {
	width : 100%;
    }
    header p {    
	position : absolute;
	top : 1em;
	right :1em;
    }
    nav {
	clear : both;
	float:left;
    }
    main {
	width : 40em;
	float: left;
    }  
    footer  {
	width : 100%;
	clear : both;
    }
    /* optional presentation refinement */
    header {
	padding-bottom: 1em;
	padding-top: 1em;
    }
    header h1 {
	padding-left : 1em;
    }
    nav, main {
	padding-top: 1.5em;
	padding-right: 1em;
	margin : 1em;

    }
    main {
	padding-bottom: 4em;
	margin-bottom: 50%;
    }
    nav {
	padding-bottom: 5em;
    }
    nav ul {
	list-style-type : none;
	padding-left : 1.5em;
	font-weight : bold;
    }
    nav ul ul {
    }
    main {
	padding-left: 2em;
	padding-top: 2em;
    }
    header {    
	padding-bottom : 1em;
	  }
}
    /* colors */ 
    body {
	/*background-color: #789000;*/
background-color : #555;
        color : #333;
    }
    header {
	/*background-color : #D5FF00;       */
background-color : #f5f5f5;
	border-bottom : 1px solid #E5E5E5;
    }  
    nav {
	/*background-color : rgb(198, 237, 0);*/
      /*  background-color : white;*/
background-color : #fefefe;

    }  
    main {
	/*background-color  : aliceblue;*/
	background-color : #fefefe;

    }
    nav a:hover {
        color : 4183C4;
    }
/*
    footer {
	background-color : #324102;
	border-top : 1px solid black;
	border-bottom : 0px;
	margin-bottom : 0px;
    }
    footer p {
	margin-bottom : 0px;
    }
*/
/*
button, input, form {
  border :1px solid black;
  margin : 0.25em;
  padding : 0.25em;
  border-radius : 3px;
  font-weight: bold;
}

button:hover {
    text-shadow : 1px 1px rgba(255,255,255,0.5);
    
}
*/
