/*
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
*/

body {
    font-family : sans-serif;
}
div#instant_braille {
    border : 1px solid black;
    padding : 1em;
}
.ui-widget {   
    font-family: sans-serif;
    font-size: 1.0em;    
}
@media screen and (min-width:50em){
    body {
    font-size: 0.9em;    
    }
    .ui-widget {   
	font-family: sans-serif;
	font-size: 0.9em;    
    }
    nav, main {
	float: left;
    }
    
    header {
	//	border-bottom : 1px solid black;
    }
    header h1 {
	//margin-left:1em;
    }
    header p {
	top: .5em;
	position: absolute;
	right: 1em;
    }
    nav {
	padding-right : 1em;
	//	border-right : 1px solid black;
    }
    main {
	width : 40em;
	float: left;
	margin-left : 1em;
    }
    main h2 {
	padding-bottom : 0.5em;
    }
    
    ul.ui-autocomplete.ui-menu{
	width:30em;
	
    }
    input.config-autocomplete {
	width:30em;
    }
    form.config-option {
	padding-left: 0.3em;
	padding-bottom: 1em;
    }

}
