<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="libs/wymeditor/skins/compact/skin.css">
<!--
    <link rel="stylesheet" href="natbraille/style.css">
-->
    <link rel="stylesheet" href="natbraille/iwstyle.css">
    <title>Natbraille - transcriptions en ligne</title>
  </head>
  
  <body >
    <!--
	<a href="#contents">aller au contenu</a>
	-->
    <header>
      <h1>Natbraille</h1>
      <p class="connected_user" />
    </header>
<!--    
    <img src="logonat.svg" class="logonat centered" alt="">
-->
    <nav>
      <ul>
	<li>Transcriptions
	  <ul>
	    <li><a href="#transcription">Nouvelle ★</a></li>
	    <li><a href="#transcriptions/pending">En cours</a></li>
	    <li><a href="#transcriptions/success">Achevées</a></li>
	    <li><a href="#transcriptions/error">Échouées</a></li>
	    <li><a href="#sources/manage">Fichiers importés</a></li>
	  </ul>
	</li>
	<li>Configurations
	  <ul>
	    <li><a href="#config/editor">Édition</a></li>
	    <li><a href="#configs/manage">Liste</a></li>
	  </ul>
	</li>
	<li><a href="#instant">Transcription instantanée</a></li>
	<li><a href="#about">À propos de Natbraille...</a>
      </ul>
      
      <!--
	  <hr/>
	  <ul>
	    <li><a href="#transcription">transcription</a></li>
	    <li><a href="#config/editor">config/editor</a></li>
	    <li><a href="#configs">configs</a></li>
	    <ul>
	      <li><a href="#configs/choose">configs/choose</a></li>
	      <li><a href="#configs/manage">configs/manage</a></li>
	    </ul>
	    <li><a href="#source/upload">source/upload</a></li>
	    <li><a href="#sources">sources</a></li>
	    <ul>
	      <li><a href="#sources/choose">sources/choose</a></li>
	      <li><a href="#sources/manage">sources/manage</a></li>
	    </ul>
	    <li><a href="#transcriptions">transcriptions</a></li>
	    <ul>
	      <li><a href="#transcriptions/pending">transcriptions/pending</a></li>
	      <li><a href="#transcriptions/success">transcriptions/success</a></li>
	      <li><a href="#transcriptions/error">transcriptions/error</a></li>
	    </ul>
	    <li><a href="#instant">transcriptions instantanée</a></li>
	  </ul>
	  -->
    </nav>
    <main id="contents">
      <section class="transcription" >
      </section>
      <section class="configs" >
      </section>
      <section class="source_upload" >
      </section>
      <section class="sources" >
      </section>
      <section class="transcription_detail" >
      </section>
      <section class="transcriptions" >
      </section>
      <section class="instant" >
      </section>
      <section class="config_editor" >
      </section>
    </main>
<!--
    <footer>
      <p>bla bla</p>
    </footer>
-->

    <!-- 
	 instant transcription
      -->
    <script type="text/template" id="tmpl_instant_transcription">
      <h2>Transcription instantanée</h2>
      <p>
	<form method="post" action="">
	  <textarea id="my-wymeditor"><p>I'm initial content!</p></textarea>
	</form>
      <p>
	<div class="importbutton">
	  <button id="instant_tobraille" class="ui-widget" >Transcrire vers le braille</button>
	  <p>
	    <label for="instant_refreshinterval">mettre à jour automatiquement</label>
	    <input type="checkbox"  id="instant_autorefresh" value="Bike">
	</div>
      <p>
	<div id="instant_braille" ></div>
    </script>
    <!--
	transcription
      -->
    <script type="text/template" id="tmpl_file_transcription">
      <h2>Transcrire un fichier </h2>
      <h3>Configuration</h3>
      <p><% if ( rc.get('currentConfig') ) { %>"<%= rc.getConfiguration().get("CONFIG_NAME") %>"<% } %>
      <p>
	<% if ( rc.get('currentConfig') ) { %>
	<button class="select_config">Choisir une autre configuration</button>
	<% } else { %>
	<button class="select_config">Choisir la configuration</button>
	<% } %>
	<h3>Fichier à transcrire</h3>
      <p>
	<% if ( rc.get('currentSource') ) { %>"<%= rc.getSource().get("displayName") %>"
	<ul>
	  <% if (rc.getSource().get('contentType')){ %><li>Type&nbsp;: <%= rc.getSource().get('contentType') %><% } %>
	    <% if (rc.getSource().get('charset')){ %><li>Encodage&nbsp;: <%= rc.getSource().get('charset') %><% } %>
	    <% if (rc.getSource().get('brailleTable')) { %><li>Table&nbqp; <%= rc.getSource().get('brailleTable') %><%}%>
	</ul>
	<% } %>
      <p>
	<button class="upload_source">Importer un fichier</button>
	<button class="select_source">Choisir parmi les fichier importés</button>
      <p>
	<% if ( rc.get('currentConfig') && rc.get('currentSource')) { %>
	<button class="start">Lancer la transcription</button>
	<% } %>
    </script>
    <!-- 
	 configuration
      -->
    <script type="text/template" id="tmpl_configs">
      <h2>Configurations</h2>
      <% _.each(rc,function(config){ %>
      <article class="config <%= config.id %>" ></article>
      <% }); %>
    </script>
    <script type="text/template" id="tmpl_config_detail">
      <div id="dialog-confirm" title="<%= rc.get('CONFIG_NAME') %>">
	<p>
	  <%= rc.get('CONFIG_DESCRIPTION') %>
	<p>
	  <ul>
	    <% _.each(rc.attributes,function(att,name){ %>
	    <% if (
	       (name !== 'CONFIG_NAME')
	       && (name !== 'CONFIG_DESCRIPTION')
	       && (name !== 'id')
	       ){ %>
	    <li><%= I18n.optionTr(name) %>&nbsp;: <%= att %></li>
	    <% } %>
	    <% }); %>
	  </ul>
	<p>
      </div>
    </script>
    <script type="text/template" id="tmpl_config">
      <h3><%= rc.model.get('CONFIG_NAME') %></h3>
      <p>
	<%= rc.model.get('CONFIG_DESCRIPTION') %>
      <p>
	<% if( ( rc.buttons)&& ( rc.buttons.selectButton )) { %>
	<button class="select">Choisir "<%= rc.model.get('CONFIG_NAME') %>"</button>
	<% } %>
	<button class="detail">Détail de "<%= rc.model.get('CONFIG_NAME') %>"&hellip;</button>
	<% if (!rc.model.getNotice() ||
	   (rc.model.getNotice().get("metadata").author !== "natbraille")) { %>
	<% if( ( rc.buttons)&& ( rc.buttons.deleteButton )) { %>
	<button class="delete">Supprimer "<%= rc.model.get('CONFIG_NAME') %>"</button>
	<% } %>
	<% } %>
    </script>
    <script type="text/template" id="tmpl_confirm_config_deletion">
      <div id="dialog-confirm" title="Suppression de <%= rc.get('CONFIG_NAME') %>">
	<p>
	  Êtes vous sûr de vouloir supprimer la configuration "<%= rc.get('CONFIG_NAME') %>" ?
	</p>
      </div>
    </script>
    <!-- 
	 sources 
      -->
    <script type="text/template" id="tmpl_sources">
      <h2>Fichiers importés</h2>
      <% _.each(rc,function(source){ %>
      <article class="input <%= source.id %>" ></article>
      <% }); %>
    </script>
    <script type="text/template" id="tmpl_source">
      <h3><%= rc.model.get('displayName') %></h3>
      <p>de type <%= rc.model.get('contentType') %>, encodage <%= rc.model.get('charset') %>
	<% if (rc.model.get('brailleTable')) { %>table<%= rc.model.get('brailleTable') %><%}%>
      <p>
	<% if( ( rc.buttons)&& ( rc.buttons.selectButton )) { %>
	<button class="select">Choisir "<%= rc.model.get('displayName') %>"</button>
	<% } %>
	<% if( ( rc.buttons)&& ( rc.buttons.deleteButton )) { %>
	<button class="delete">Supprimer "<%= rc.model.get('displayName') %>"</button>
	<% } %>
    </script>
    <script type="text/template" id="tmpl_confirm_source_deletion">
      <div id="dialog-confirm" title="Suppression de <%= rc.get('displayName') %>">
	<p>
	  Êtes vous sûr de vouloir supprimer le document "<%= rc.get('displayName') %>" ?
	</p>
      </div>
    </script>
    <!-- 
	 upload template 
      -->
    <script type="text/template" id="tmpl_source_upload">
      <h2>Import de fichier</h2>
      <p>Natbraille reconnaît les documents <a href="http://fr.wikipedia.org/wiki/OpenDocument">OpenDocument</a> produits par LibreOffice ou OpenOffice.org, et ceux produits par Microsoft : Word 2003 (&laquo;.doc&raquo), Word 2007 (&laquo;<a href="http://fr.wikipedia.org/wiki/Office_Open_XML">.docx</a>&raquo; ), le <a href="http://fr.wikipedia.org/wiki/Rich_Text_Format">RTF</a>), ainsi que les fichiers contenant du texte brut.
	<form id="formSource" enctype="multipart/form-data" method="POST">
	  <div class="">
	    <span>
	      <label for="formSourceInputFileL">Fichier</label>
	    </span>
	    <input id="formSourceInputFileL" type="file" name="file" />
	  </div class="">
	  <p>Si vous connaissez le format de votre document, vous pouvez le spécifier ci-dessous. Sinon, Natbraille le détectera pour vous.
	    <div class="">
	      <label for="formSourceMimeTypeL">Format</label>
	      <select id="formSourceMimeTypeL" name="mimeType">
		<option value="guess">automatique</option>
		<option value="application/vnd.oasis.opendocument.text">Libre/Open Office OpenDocument (.odt)</option>
		<option value="application/msword">Microsoft Word (.doc)</option>
		<option value="application/vnd.openxmlformats-officedocument.wordprocessingml.document">Microsoft Office Open XML (.docx)</option>
		<option value="application/application/rtf">Rich Text Format (.rtf)</option>
		<option value="text/plain">Texte brut (.txt)</option>
		<option value="application/xhtml+xml">Extensible HyperText Markup Language (.xhtml)</option>
		<option value="application/html">Hypertext Markup Language (.html)</option>
	      </select>
	    </div>
	  <p>Si vous connaissez l'encodage de votre document, vous pouvez le spécifier ci dessous, en particulier s'il s'agit d'un document au format texte brut.
	    <div class="">
	      <label for="formSourceCharsetL" >Encodage</label>
	      <select id="formSourceCharsetL" name="charset">
		<option value="guess">automatique</option>
		<option value="UTF-8">Unicode UTF-8</option>
		<option value="cp1252">Microsoft Windows-1252</option>
		<option value="iso-8859-15">Iso-8859-15 (standard européen)</option>
	      </select>
	    </div>
	  <p>
	    <div class="importbutton">
	      <input id="formSourceSubmit" name="formsubmit" type="submit" value="importer" />
	    </div>
	    <span class="progress"></span>
	    <span class="failed"></span>
	</form>
    </script>
    <!-- 
	 transcription 
      -->
    <script type="text/template" id="tmpl_transcription_detail">
      <div id="dialog-message" title="Transcription">
	<!--
	    <button class="update">autoupdate</button>
	    -->
	<% if ( rc.getTranscription() ) { %>
	<p>
	  <% if ( rc.getTranscription().getRelatedConfig() ) { %>
	  Transcription avec "<%= rc.getTranscription().getRelatedConfig().get("CONFIG_NAME") %>"
	  <% } else { %>
	  (configuration inconnue) 
	  <% } %>
	  <% if ( rc.getTranscription().getRelatedSource() ) { %>
	  du document "<%= rc.getTranscription().getRelatedSource().get("displayName") %>"
	  <% } else { %>
	  (document inconnu)
	  <% } %>
	</p>
	<% if ( rc.getTranscription().get("state") === "success" ) { %>
	<p>
	  La transcription est terminée&nbsp;:
	</p>
	<p>
	  <a href="<%= rc.getTranscription().getResuUrl() %>" download>télécharger le résultat</a>
	</p>
	<% } else if (rc.getTranscription().get("state") === "pending" ) {%>
	<% if ( rc.getTranscription().get("status") ) { %>
	<p>
	  État de la transcription&nbsp;: <%= _.last(rc.getTranscription().get("status")).contents %>
	</p>
	<% } %>
	<% } else if (rc.getTranscription().get("state") === "error" ) {%>
	<p>
	  La transcription a échoué. 
	</p>
	<p>Consultez le journal ci-dessous pour plus de détail&nbsp;:
	  <ol>
	    <% _.each(rc.getTranscription().get("status"),function(statu) { %>
	    <li><%= statu.contents %></li>
	    <% }); %>
	  </ol>
	</p>
	<% } else { %>
	&hellip;
	<% } %>
	<% } %>
      </div>
    </script>
    <!-- 
	 transcriptions
      -->
    <script type="text/template" id="tmpl_transcriptions">
      <% if ( (!rc.filter) || (rc.filter === 'pending')) {%>
      <h2>Transcriptions en cours</h2>
      <% _.each(rc.transcriptions,function(transcription){ %>
      <% if (transcription.get('state')==="pending") { %>
      <article class="input <%= transcription.id %>" ><%= transcription.id %></article>
      <% } %>
      <% }); %>
      <% } %>
      <% if ( (!rc.filter) || (rc.filter === 'success')) {%>
      <h2>Fichiers transcrits</h2>
      <% _.each(rc.transcriptions,function(transcription){ %>
      <% if (transcription.get('state')==="success") { %>
      <article class="input <%= transcription.id %>" ><%= transcription.id %></article>
      <% } %>
      <% }); %>
      <% } %>
      <% if ( (!rc.filter) || (rc.filter === 'error')) {%>
      <h2>Transcriptions échouées</h2>
      <% _.each(rc.transcriptions,function(transcription){ %>
      <% if (transcription.get('state')==="error") { %>
      <article class="input <%= transcription.id %>" ><%= transcription.id %></article>
      <% } %>
      <% }); %>
      <% } %>
    </script>
    <script type="text/template" id="tmpl_transcriptions_item">
      <h3>
	<% if ( rc.model.getRelatedSource() ) { %>
	"<%= rc.model.getRelatedSource().get("displayName") %>"
	<% } else { %>
	Transcription d'un document supprimé
	<% } %>
	<% if ( rc.model.getRelatedConfig() ) { %>
	(<%= rc.model.getRelatedConfig().get("CONFIG_NAME") %>)
	<% } else { %>
	(configuration supprimée) 
	<% } %>
      </h3>
      <% if ( rc.model.getResuUrl() ) { %>
      <p>
	<a href="<%= rc.model.getResuUrl() %>" download>télécharger le résultat</a>
      </p>
      <% } %>
      <p>
	<% if ( rc.model.get("state") !== "success") { %>
	<button class="detail">Journal de la transcription <%= rc.model.id %></button>
	<% } %>
	<button class="delete">Supprimer la transcription 
	<% if ( rc.model.getRelatedSource() ) { %>
	"<%= rc.model.getRelatedSource().get("displayName") %>"
	<% } else { %>
	Transcription d'un document supprimé
	<% } %>
	<% if ( rc.model.getRelatedConfig() ) { %>
	(<%= rc.model.getRelatedConfig().get("CONFIG_NAME") %>)
	<% } else { %>
	(configuration supprimée) 
	<% } %>


</button>
      </p>
    </script>
    <script type="text/template" id="tmpl_confirm_transcription_deletion">
      <div id="dialog-confirm" title="Suppression de <%= rc.id %>">
	<p>
	  Êtes vous sûr de vouloir supprimer la transcription "<%= rc.id %>" ?
	</p>
      </div>
    </script>
    <!--
	user
      -->
    <script type="text/template" id="tmpl_connected_user">
      <%= rc.name %> est authentifié.
    </script>

    <!--
	confif editor 
      -->
    <script type="text/template" id="tmpl_config_editor">
      <h2>Édition de configurations</h2>
      <% if ( _.keys(rc.editedConfig.attributes).length == 0 ) { %>
      <p>Créez une configuration pour adapter les transcriptions de Natbraille. Il est possible de configurer, par exemple, la prise en charge des mathématiques, de l'abrégé, le préfixage de certains élément, ainsi que de la mise en page : taille de la page, table braille, numérotation, ajout de sommaire...
      <p>
	<% if( rc.baseConfig) { %>
	<article>
	  <h3>Dériver une configuration</h3>
	  <p>La nouvelle configuration utilisera "<%= rc.baseConfig.get('CONFIG_NAME')  %>" pour base.</p>
	  <p><a href="#configs/choose">Changer la configuration courante</a>
	  <p><button class="choose_new_from_current">Nouvelle configuration à partir de "<%= rc.baseConfig.get('CONFIG_NAME')  %>"</button>
	</article>
	<% } %>
	
	<article>
	  
	  <h3>Créer une nouvelle configuration vierge</h3>
	  <p>La nouvelle configuration ne contiendra que les options par défaut.</p>
	  <p><button class="choose_new">Configuration vierge</button></p>
	</article>
	
	<% } else { %>

	<article>

	  <h3>Modifier une option</h3>
	  
	  <p>
	    <input class="config-autocomplete ui-widget" placeholder="recherchez une option"/>
	  <p>
	    <form class="config-option ui-widget" >
	    </form>
	  </p>

	  <p>
	    <!--	<button class="savenew">Sauvegarder comme nouvelle</button>-->
	    <!--
	    <button class="replace">Sauvegarder</button>
	    -->
	  </p>
	</article>

	<article>
	  <p>
	    <button class="ok">Terminer la configuration</button>
	    <button class="cancel">Annuler</button>
	  </p>
	</article>
	<article>
	  <h3>Options de la configuration</h3>
	  <p>
	    <ul>
	      <% if (rc.editedConfig) { %>
	      <% _.each(rc.editedConfig.attributes,function(value,key){%>
	      <li><%= I18n.optionTr(key) %>&nbsp;: <%= value %></li>
	      <% });%>
	      <% }%>
	    </ul>	
	  </p>
	  <% } %>
	</article>
	<article>
	  <h3>Gestion des configuration</h3>
	  <p><a href="#configs/manage">Gérer la liste des configurations</a></p>
	</article>
    </script>

    <script type="text/template" id="tmpl_config_option_ac_item">
      <li>
	<% var inconf = rc.editedConfig.get(rc.item.name); %>
	<% if (inconf){ %>
	<a><%= I18n.optionTr(rc.item.name) %><br/><b><%= inconf %></b></a>
	<%} else { %>
	<a><%= I18n.optionTr(rc.item.name) %> (<%= rc.configformat.get(rc.item.name).defaultValue %>)</a>
	<% } %>
      </li>
    </script>

    <script type="text/template" id="tmpl_config_option_form">
      <% if (rc.editedOptions) {%>
      <% if (I18n.optionCommentTr(rc.editedOptions.name)) { %>
      <p><%= I18n.optionCommentTr(rc.editedOptions.name) %> </p>
      <% } %>
      <!--
	  <p><%= rc.configformat.get(rc.editedOptions.name).comment %></p>
	  -->
      <% var confValue = rc.editedConfig.get(rc.editedOptions.name); %>
      
      <!--
	  <p>
	    <ul>
	      <% if (confValue){ %>
	      <li>valeur actuelle : <b><%= confValue %></b></li>
	      <% } %>
	      <li>par défaut : <%= rc.configformat.get(rc.editedOptions.name).defaultValue %></li>
	      <li>type : <%= rc.configformat.get(rc.editedOptions.name).type %></li>
	      <% if (rc.configformat.get(rc.editedOptions.name).possibleValues ) {%>
	      <li>valeurs :
		<ul>
		  <% _.each(rc.configformat.get(rc.editedOptions.name).possibleValues,function(el){ %>
		  <li><%= el %></li>
		  <% }); %>
		</ul>
	      </li>
	      <% } %>

	    </ul>
	  </p>
	  -->

      <p>
	<% var id=rc.editedOptions.name; %>
	<label for="<%= id %>"> valeur </label>
	<% if (rc.configformat.get(rc.editedOptions.name).possibleValues.length>0 ) {%>
	<select id="<%= id %>" class="option_value" >
	  <% var idx=0; %>
	  <% _.each(rc.configformat.get(rc.editedOptions.name).possibleValues,function(el){ %>
	  <option value="<%= idx %>" 
		  <% if (confValue) {%> 
		  <% if (confValue === el) { %> 
		  selected 
		  <%} %> 
		  <%} else {%> 
		  <% if (rc.configformat.get(rc.editedOptions.name).defaultValue == el) { %> 
		  selected 
		  <%} %> 
		  <%} %> 
		  ><%= el %></option>
	  <% idx++; %>
	  <% }); %>
	</select>
	<% } else if( rc.configformat.get(rc.editedOptions.name).type === 'Boolean'){%>
	<% var isChecked;
	   if (confValue){
	   isChecked = (confValue === 'true');
	   } else {
	   isChecked = (rc.configformat.get(rc.editedOptions.name).defaultValue === 'true');
	   }
	   %>

	<input id="<%= id %>" type="radio" name="<%= id %>" value="true"
	       <% if (isChecked) { %> checked <% } %>
	       >Activer
	<input type="radio" name="<%= id %>" value="false"
	       <% if (!isChecked) { %> checked <% } %>
	       >Désactiver
	
	<% } else {%>
	<input id="<%= id %>" class="option_value" 
	       placeholder="<%= rc.configformat.get(rc.editedOptions.name).defaultValue %>"
	       value="<%= confValue %>">
	<% } %>
      </p>
      <p>
	<button class="set_option">valider l'option</button>
	<button class="delete_option">supprimer l'option</button>
	<button class="cancel_option">annuler </button>
      </p>
      <% } %>
    </script>
    <!--
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//underscorejs.org/underscore-min.js"></script>
	<script src="//backbonejs.org/backbone.js"></script>
	<script src="http://malsup.github.io/min/jquery.form.min.js"/>
	-->
    <script src="libs/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <script src="libs/underscore.js"></script>
    <script src="libs/backbone.js"></script>

    <script src="libs/jquery.form.js"></script>
    <script src="libs/wymeditor/jquery.wymeditor.min.js"></script>
    <script src="natbraille/app.js"></script>
    <script src="natbraille/instantEditor.js"></script>
    <script src="natbraille/configEditor.js"></script>


    <script >
      $(document).ready(function(){
      Natbraille.start();
      $(".logonat").hide("fade");

      });
    </script>
<!--
	<div id="about">
	  <h2>À propos de natbraille</h2>

	  <div class="two_col">
	    <div class="two_col_left"><p> <img class="logo" alt="" src="natbraille/images/logo/logoNat.png"></p></div>
	    <div class="two_col_right">	<p><a href="http://natbraille.org">http://natbraille.org</a></p></div>
	  </div>


	  <h3>version poste</h3>
	  
	  <p> <a href="http://sourceforge.net/projects/nat-braille/files/latest/download">http://sourceforge.net/projects/nat-braille/files/latest/download</a></p> 
	  <h3>Remerciements</h3>

	  <div class="two_col">
	    <div class="two_col_left"><p>  <img class="logo" src="natbraille/images/logo/logo_liris.png"></p></div>
	    <div class="two_col_right"><p>  SILEX : Supporting Interaction and Learning by Experience , Laboratoire d'InfoRmatique en Image et Systèmes d'information UMR 5205 CNRS / INSA de Lyon / Université Claude Bernard Lyon 1 / Université Lumière Lyon 2 / École Centrale de Lyon </p></div>
	  </div>
	  
	  <div class="two_col">
	    <div class="two_col_left"><p><img class="logo" src="natbraille/images/logo/659px-Universit%C3%A9_Lyon_1_%28logo%29.svg.png"></p></div>
	    <div class="two_col_right"><p> Université claude bernard lyon 1</p></div>
	  </div>

	  <div class="two_col">
	    <div class="two_col_left"><p><img class="logo" src="natbraille/images/logo/Macif_5a018_450x450.png">  </p></div>
	    <div class="two_col_right"><p>MACIF</p>
	    </div>
	  </div>

	  <div class="two_col">
	    <div class="two_col_left"><p><img class="logo" src="natbraille/images/logo/logo_MEN_214916.png">  </p> </div>
	    <div class="two_col_right"><p>Ministère de l'éducation nationale </p></div>
	  </div>
	  <div class="two_col">
	    <div class="two_col_left"><p><img class="logo" src="natbraille/images/logo/univparris8.png"></p></div>
	    <div class="two_col_right"><p>Université Paris 8</p></div>
	  </div>

	  <div class="two_col">
	    <div class="two_col_left"><p><img class="logo" src="natbraille/images/logo/masterhandi.png">  </p> </div>
	    <div class="two_col_right"><p>Master HANDI </p></div>
	  </div>

	  <div class="two_col">
	    <div class="two_col_left"><p><img class="logo" src="natbraille/images/logo/inshea.png"></p></div>
	    <div class="two_col_right"><p>INS-HEA </p></div>
	  </div>

	</div>
-->
  </body>
</html>
