table tr:nth-child(odd){
  background-color: lightgrey;
}
.starmath {
    background-color :lightgreen
}
.expected-mathml {
   background-color :lightgreen
}
.generated-mathml {
    background-color :lightblue;
}
.generated-starmath {
    background-color :lightcoral
}
.generated-braille-from-starmath ,
.generated-codeus-braille-from-starmath{
    background-color :orange;
}
